@import '~@flaticon/flaticon-uicons/css/all/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	transition:
		opacity,
		z-index,
		color ease-in-out 0.3s;
}

body {
	box-sizing: border-box;
	display: inline-block;
	width: 100vw;
	max-width: 100vw;
	clear: both;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
	max-width: 100vw;
	scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
		height: 4px;
	}
}

@media screen and (min-width: 768px) {
	::-webkit-scrollbar-thumb {
		border-radius: 2rem;
		background-color: #19191e4d;
		-webkit-box-shadow: 0 0 1px hsl(0deg 0 100% / 50%);
	}
}

/* custom property group for tailwind */
@layer base {
	* {
		/*fixme change the base font here (and in the layout.js in  /app) */
		@apply font-kanit;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		/*fixme change the title font here (and in the layout.js in  /app) */
		@apply font-playpen_sans;
	}

	h1 {
		@apply text-sm font-semibold sm:text-2xl;
	}

	h2 {
		@apply text-xs font-light sm:text-xl;
	}

	h3 {
		@apply sm:text-lg;
	}

	h4 {
		@apply text-base;
	}
}

/**************************************** CURSOR ANIMATION ****************************************/
/* media queries, for normal, sm, lg, and xl */
.container-animation {
	transform: translateY(-600px);
}

/* cursor */
.cursor-animation {
	display: block;
	position: absolute;
	scale: 0.5;
	top: 97%;
	left: 80%;
}

.cursor-animation img {
	scale: 1.5;
	transform: scale(1);
	animation: cursor-scale 3.5s forwards linear;
}

@keyframes cursor-move {
	0% {
		offset-distance: 0;
	}
	100% {
		offset-distance: 100%;
	}
}

@keyframes cursor-scale {
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(1);
	}
	95% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

/* 640px -> 1024px */
@media screen and (min-width: 640px) {
	/* cursor */
	.cursor-animation {
		top: 0;
		left: 0;
		animation: cursor-move 3s forwards ease-in-out;
		transform: scale(1);
		offset-path: path(
			'M0,0c.6,48.66,9.17,458.79,181.09,520.1,39.97,14.25,124.01,22.22,149.68-23.15,20.07-35.47,4.65-103.86-31.41-116.46-33.77-11.8-78.35,27.9-87.54,68.72-12.01,53.35,37.25,104.97,65.49,134.55,114.53,119.99,155.69,115.28,261.69,106.04'
		);
		offset-distance: 100%;
		scale: 1.09 1.11;
	}

	.cursor-animation img {
		scale: 1;
	}

	.container-animation {
		transform: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* cursor */
	.cursor-animation {
		scale: 1.2 1.11;
	}
}

/* 1024px -> 1280px */
@media screen and (min-width: 1024px) {
	/* cursor */
	.cursor-animation {
		scale: 1.02;
	}
}

.cursor {
	z-index: 1001;
}

.bubbly-button {
	display: inline-block;
	padding: 1rem 2rem;
	-webkit-appearance: none;
	background: #fedebb;
	border-radius: 8px;
	appearance: none;
	cursor: pointer;
	z-index: 1000;
	position: relative;
}

.bubbly-button:focus {
	outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: 999;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.bubbly-button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, #f97316 20%, transparent 30%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, #f97316 15%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%);
	background-size:
		10% 10%,
		20% 20%,
		15% 15%,
		20% 20%,
		18% 18%,
		10% 10%,
		15% 15%,
		10% 10%,
		18% 18%;
	z-index: 999;
}

.bubbly-button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, #f97316 15%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%),
		radial-gradient(circle, #f97316 20%, transparent 20%);
	background-size:
		15% 15%,
		20% 20%,
		18% 18%,
		20% 20%,
		15% 15%,
		10% 10%,
		20% 20%;
	z-index: 999;
}

.bubbly-button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
	0% {
		background-position:
			5% 90%,
			10% 90%,
			10% 90%,
			15% 90%,
			25% 90%,
			25% 90%,
			40% 90%,
			55% 90%,
			70% 90%;
	}
	50% {
		background-position:
			0 80%,
			0 20%,
			10% 40%,
			20% 0,
			30% 30%,
			22% 50%,
			50% 50%,
			65% 20%,
			90% 30%;
	}
	100% {
		background-position:
			0 70%,
			0 10%,
			10% 30%,
			20% -10%,
			30% 20%,
			22% 40%,
			50% 40%,
			65% 10%,
			90% 20%;
		background-size:
			0 0,
			0 0,
			0 0,
			0 0,
			0 0,
			0 0;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position:
			10% -10%,
			30% 10%,
			55% -10%,
			70% -10%,
			85% -10%,
			70% -10%,
			70% 0;
	}
	50% {
		background-position:
			0 80%,
			20% 80%,
			45% 60%,
			60% 100%,
			75% 70%,
			95% 60%,
			105% 0;
	}
	100% {
		background-position:
			0 90%,
			20% 90%,
			45% 70%,
			60% 110%,
			75% 80%,
			95% 70%,
			110% 10%;
		background-size:
			0 0,
			0 0,
			0 0,
			0 0,
			0 0,
			0 0;
	}
}
